<%- include('../shared/head.ejs') %>
</head>
<body>
  <%- include('../shared/navigation.ejs') %>
  <main>
    <% if (products.length > 0){ %>
      <ul>
        <% products.forEach(p =>{ %>
          <li>
            <p><%= p.product.title %> (<%= p.qty %>)</p>
            <form action="/cart-delete-item" method="POST">
              <input type="hidden" name="productId" value="<%= p.product.id %>">
              <button class="btn" type="submit">Delete</button>
            </form>
            
            </li>
        <% }) %>
      </ul>
    <% } else {%>
      <h1>No product in cart</h1>
    <% } %>
  </main>
<%- include('../shared/end.ejs') %>